* {
    margin: 0;
    padding: 0;
    outline: 0;
}

/*----  Fonte Customizada */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/*------- Formatações gerais */
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 20px;
}

/*-------- Cores */
:root{
    --primary-color: rgb(135, 190, 226);
    --primary-color-dark: rgba(100, 164, 207, 0.253);
}

/*---------- Conteúdo */

.container{
    background-color: aliceblue;
    width: 50vw;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.relogio{
    font-size: 3em;
}

.btn{
    padding: 8px 12px;
    cursor: pointer;
    border: 1px solid;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: cadetblue;
    color: rgb(255, 255, 255);
    font-weight: 700;
}


.btn:hover{
    background-color: var(--primary-color);
}

.btn:active{
    color: rgb(75, 75, 119);
    border-color: cadetblue;
}

.pausado{
    color: red;
}

.disabled{
    display: none;
}

